* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, FontAwesome, Helvetica, sans-serif;
}

body {
	width: 100%;
}

.app-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
}

.controls-container {
	width: 100%;
	background-color: #1dbdee;
}

.app-title {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.records-control {
	width: 65%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.9rem;
	padding-top: 1.5rem;
}

.data-records {
	/* width: 90%; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5rem;
}

input {
	width: 450px;
	padding: 8px;
	border: 0.5px solid #007bff;
	border-radius: 0.25rem;
	font-size: 1rem;
}

input::placeholder {
	text-indent: 5px;
	font-size: 1rem;
	font-weight: 100;
}

input:focus {
	outline: none;
}

.record {
	width: 420px;
	background-color: #ffffff;
}

.record-container {
	width: 95%;
	margin: 0.75rem 0;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 0.25rem 1rem;
	background: linear-gradient(135deg, #d4d4d4 0%, #f4f4f4 100%);
}

.user-bio {
	width: 100%;
	display: flex;
}

.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	padding-top: 0.5rem;
}

img {
	width: 100%;
	height: 80%;
}

.avatar h2 {
	text-align: center;
	margin: 0.4rem 0;
	font-size: 1rem;
}

img {
	width: 100%;
}

.bio-item {
	display: flex;
	justify-content: space-between;
	padding-top: 0.2rem;
}

.bio {
	width: 60%;
	padding-left: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
}

.bio-item h2 {
	padding-left: 1rem;
}

@media only screen and (min-width: 1024px) and (max-width: 1280) {
	/* For tablet devices: */

	.records-control {
		width: 80%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.data-records {
		margin-top: 5rem;
		justify-content: center;
	}

	input {
		width: 350px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* For tablet devices: */

	.records-control {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.data-records {
		margin-top: 10rem;
		justify-content: center;
	}

	input {
		width: 350px;
	}
}

@media only screen and (max-width: 468px) {
	/* For mobile devices: */

	.records-control {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.data-records {
		margin-top: 10rem;
	}

	input {
		width: 250px;
		padding-left: 10px;
	}

	input::placeholder {
		text-indent: 5px;
		font-size: 0.8rem;
		font-weight: 100;
	}

	.record {
		width: 100%;
	}

	.record-container {
		margin: 0.75rem auto;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		padding: 0.5rem 1rem;
		background: linear-gradient(135deg, #e6aa67 0%, #adf882 100%);
	}

	.flex-flat {
		display: flex;
	}

	.user-bio {
		width: 100%;
		display: flex;
	}

	.avatar {
		width: 40%;
		margin-right: 0.75rem;
	}

	.avatar img {
		width: 100%;
		border-radius: 0.5rem;
		background: linear-gradient(135deg, #f9c387 0%, #fbd789 100%);
	}
	.avatar h2 {
		text-align: center;
		margin-top: 0.5rem;
		font-size: 0.75rem;
	}

	.bio {
		width: 60%;
		padding-left: 0.25rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
	}
	.bio-item {
		display: flex;
		justify-content: space-between;
		font-size: 0.5rem;
		padding-top: 0.25rem;
	}

	.bio-item h2 {
		padding-left: 1rem;
	}
}
